.consult {
  padding: 8rem 5rem;
  .cases {
    position: relative;
    margin: 1rem;
    text-align: center;
    .case-name {
      position: absolute;
      top: 60%;
      color: white;
    }
    h3 {
      font-size: 2.3rem;
      margin: 1rem;
    }
    p {
      font-size: 1.6rem;
    }
  }
}

.btn-secondary {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  button {
    display: inline-block;
    padding: 1rem 3rem;
    margin: 2rem;
    border: none;
    border-radius: 8px;
    font-size: 1.8rem;
  }
  .active {
    color: white;
    background-color: rgb(19, 17, 17);
  }
}

.slider {
  overflow-y: scroll;
  ::-webkit-scrollbar {
    display: none;
  }
}
