.container-footer {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 2rem;
  h2 {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  ul {
    text-align: left;
  }
  ul > li {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
    color: #4e4e4e;
  }
  .community {
    margin-right: 10rem;
  }
}
