.service {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 4rem auto;
}

.service h2 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.service img {
  width: 150px;
}

.wrapper h2 {
  font-size: 2rem;
}

.service-wrapper {
  padding: 2rem;
}

.text {
  margin: 2rem;
  line-height: 1.5;
}

.text h3 {
  font-size: 2.5rem;
  font-weight: 600;
}

.text span {
  font-size: 1.5rem;
}

.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
