@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --secondary-bg-color: #f6f4f8;
  font: 10px/1.5 "DM Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 2rem;
}

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.m-b-1 {
  margin-bottom: 1rem;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}