@import 'reset';
@import 'globals';
@import 'components/_Protect';
@import 'components/_HeroSection';
@import 'components/_Header';
@import 'components/_HowItWork';
@import 'components/_News';
@import 'components/_Gurantee';
@import 'components/_serviceCard';
@import 'components/_Cta';
@import 'components/_Why';
@import 'components/_Consult';
@import 'components/_Footer';
@import 'components/_Consultation';

@media screen and (max-width: 800px) {
  body {
    font-size: 7px;
  }

  .slider {
    overflow-y: scroll;
  }
  .hide {
    display: none;
  }
  .main-header {
    padding: 1rem 0;
  }

  .heroContent {
    font-size: 7rem;
  }

  .flex-only {
    display: flex;
    justify-content: center;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .heroContent {
    display: block;
    padding: 0;
    margin: 0;
    position: static;
  }
}

@media screen and (max-width: 320px) {
  body {
    font-size: 4px;
  }
}
